<div class="container">
  <div class="card">
    <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Panier
      <a [routerLink]="['/menu']" class="btn btn-outline-info btn-sm pull-right">Continuez vos achats</a>
      <div class="clearfix"></div>
    </div>
    <div class="card-body">

      <div class="row" *ngFor="let burger of this.burgers">
<!--         <div class="img-thumbnail">
          <img class="img-responsive" src={{burger.picture}} alt="prewiew">
        </div> -->
        <div class="col-xs-4 col-md-6">
          <h4 class="product-name"><strong>{{burger.name}}</strong></h4><h4><small>{{burger.description}}</small></h4>
        </div>
        <div class="col-xs-6 col-md-4 row">
          <div class="col-xs-6 col-md-6 text-right" style="padding-top: 5px">
            <h6><strong>{{burger.price}} <span class="text-muted">x</span></strong></h6>
          </div>
          <div class="col-xs-4 col-md-3">
            <input type="text" class="form-control input-sm" value={{burger.productsQuantity}}>
          </div>
          <div class="col-xs-2 col-md-3">
            <button type="button" class="btn btn-outline-success btn-xs" (click)="add(burger.id)">
              <i class="fas fa-plus" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-outline-danger btn-xs" (click)="delete(burger.id)">
              <i class="fas fa-trash-alt" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="pull-right">
        <a [routerLink]="['/cart']" class="btn btn-outline-secondary pull-right">Actualiser</a>
      </div>
    </div>
    <div class="card-footer">
      <a [routerLink]="['']" class="btn btn-success pull-right" (click)="validate()" *ngIf="showValidate">Valider</a>
      <div class="pull-right" style="margin: 5px">
        Total : <b>{{this.total}}€</b>
      </div>
    </div>
  </div>
</div>
