<div class="img-thumbnail">
  <img [src]="this.product.picture" class="img-responsive">
  <div class="caption">
    <h4 class="pull-right">{{ this.product.price }}€</h4>
    <h4><a href="#">{{ this.product.title }}</a></h4>
    <p>{{ this.product.details }}</p>
  </div>
  <div class="ratings">
  </div>
  <div class="space-ten"></div>
  <div class="btn-ground text-center">
    <button type="button" class="btn btn-primary blue"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
    <button type="button" class="btn btn-primary blue" (click)="open(content)"><i class="fa fa-search"></i> Quick View</button>
    <div *ngIf="this.modif">
      <button type="button" class="btn btn-info" [routerLink]="['/update',this.product.id]"><i class="fas fa-pencil-alt"></i> Modify</button>
      <button type="button" class="btn btn-danger" (click)="delete(content)"><i class="fas fa-trash-alt" ></i> Delete</button>
    </div>
  </div>
  <div class="space-ten"></div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">{{ this.product.title }}</h3>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6 product_img">
        <img [src]="this.product.picture" class="img-responsive">
      </div>
      <div class="col-md-6 product_content">
        <div class="rating">
        </div>
        <p>{{ this.product.details }}</p>
        <h3 class="cost">{{ this.product.price }}€</h3>
        <div class="space-ten"></div>
        <div class="btn-ground">
          <button type="button" class="btn btn-primary blue"><span class="fa fa-cart"></span> Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>







